{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Georgia, serif;
  color: white;
  background: #111;
  overflow-x: hidden;
}

.step {
  min-height: 100vh;
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.content {
  max-width: 700px;
  padding: 35px;
  background: rgba(0, 0, 0, 0.65);
  border-radius: 20px;
  border: 2px solid rgba(255,255,255,0.15);
  z-index: 2;
}

h1 {
  font-size: 5rem;
  margin-bottom: 10px;
}

h2 {
  font-size: 3rem;
  margin-bottom: 15px;
}

p {
  font-size: 1.3rem;
  line-height: 1.7;
}

/* INTRO */

.intro {
  background:
    linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.8)),
    url("images/intro.jpg");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* STEP 1 */

.wall {
  background:
    linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.75)),
    url("images/wall.jpg");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* STEP 2 */

.breach {
  background:
    linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.75)),
    url("images/breach.jpg");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* STEP 3 */

.training {
  background:
    linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.75)),
    url("images/training.jpg");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* STEP 4 */

.truth {
  background:
    linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.75)),
    url("images/truth.jpg");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* STEP 5 */

.choice {
  background:
    linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.75)),
    url("images/choice.jpg");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* ENDING */

.ending {
  background:
    linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.85)),
    url("images/ending.jpg");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media screen and (max-width: 800px) {

  .step {
    padding: 40px 20px;
    text-align: center;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

}
